/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */

.red {
  color: #c79987;
}

.blue {
  color: #a5aad4;
}

.green {
  color: #acc79b;
}

.yellow {
  color: #c7c691;
}

.black {
  color: #655978;
}

.cyan {
  color: #9bc7bf;
}

.magenta {
  color: #c594ff;
}

.white {
  color: #ebdcff;
}

html,
body,
#root {
  height: 100%;
}

body {
  color: #ebdcff;
  font-family: "Monofur Nerd Font Mono", ui-monospace, monospace;
  font-size: 15pt;
  overflow: hidden;
  padding: 8px;
  padding-bottom: 0;
}

#root {
  border: 1px solid #c594ff;
  border-radius: 10px;
  background: rgb(43 33 60 / 90%);
}

/* =================================================================== */
/* NEW: Scale to fit smaller screen size */

.app {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  height: 100%;
  padding: 0px 16px;
}

.left,
.center,
.right {
  width: 100%; /* 🟢 Fill the grid cell */
  height: 100%; /* 🟢 Optional, for vertical fill */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.left {
  justify-content: flex-start;
}
.center {
  justify-content: center;
}
.right {
  justify-content: flex-end;
}

.scale-wrapper {
  transform: scale(0.75);
  display: flex;
}

.left-scale {
  transform-origin: center left; /* or center / center right depending */
  justify-content: left;
}
.center-scale {
  transform-origin: center; /* or center / center right depending */
  justify-content: center;
}
.right-scale {
  transform-origin: center right; /* or center / center right depending */
  justify-content: end;
}

.scale-wrapper {
  transform: scale(1);
}

.right-scale > div,
.left-scale > div {
  display: flex;
  align-items: center;
}

@media (min-width: 2100px) {
  .left,
  .center,
  .right {
    padding-bottom: 0px;
  }
}

@media (max-width: 1920px) {
  .scale-wrapper {
    transform: scale(0.75);
  }
}

@media (max-width: 1600px) {
  .scale-wrapper {
    transform: scale(0.625);
  }
}

@media (max-width: 1440px) {
  .scale-wrapper {
    transform: scale(0.562);
  }
}

@media (max-width: 1366px) {
  .scale-wrapper {
    transform: scale(0.533);
  }
}
/* =================================================================== */

.info {
  display: inline-block;
  /* Max width for EACH info text */
  max-width: 430px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.icon {
  display: inline-block;
  margin-right: 12px;
}

.os-icon {
  font-size: 1.6rem;
}

.uptime-icon {
  padding-left: 20px;
  font-size: 1.7rem;
}

.media-icon {
  padding-left: 20px;
  font-size: 1.5rem;
}

.tiling-direction-icon {
  background: none;
  border: 0;
  cursor: pointer;
  transform: translate(0px, 1px);
}

.ethernet-icon {
  padding-left: 12px;
  transform: translate(4px, 2px);
  font-size: 1.8rem;
  margin-top: -4px;
}

.wifi-icon {
  padding-left: 12px;
  transform: translate(6px, 3px);
  font-size: 1.6rem;
  margin-top: -4px;
}

.cpu-icon {
  padding-left: 24px;
  transform: translate(0px, -1px);
  font-size: 1.8rem;
  margin-top: 2px;
  margin-right: 6px;
}

.memory-icon {
  padding-left: 17px;
  transform: translate(6px, 0px);
  font-size: 2rem;
}

.battery-icon {
  padding-left: 5px;
  transform: translate(6px, 2px);
  margin-top: -4px;
  margin-right: 14px;
}

.battery {
  padding-left: 8px;
  position: relative;
}

.charging-icon {
  z-index: 100;
  position: absolute;
  right: 21px;
  bottom: -2px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}

.full-icon {
  font-size: 0.9rem;
  z-index: 100;
  position: absolute;
  right: 21px;
  bottom: 5px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}

.audio-icon {
  padding-left: 0px;
  font-size: 2rem;
  transform: translate(9px, 1.5px);
  margin-top: -6px;
}

.weather-icon {
  padding-left: 20px;
  transform: translate(1px, -1px);
  font-size: 1.6rem;
  margin-top: 2px;
}

.date-icon {
  padding-left: 16px;
  transform: translate(2px, 0px);
  font-size: 1.8rem;
}

.workspaces {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.workspace {
  font-size: 28pt;
  background: none;
  margin-right: 4px;
  padding: 0px 4px;
  color: #4d4160;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.has-child {
    color: #ebdcff;
  }

  &.focused,
  &:hover {
    color: #c79987;
  }
}
