/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */

:root {
  --color-foreground: #c3c6c8;
  --color-foreground-30: #c3c6c84d;
  --color-background: #122024;
  --color-background-90: #122024e6;
  --color-black: #0f1e23;
  --color-red: #b1be74;
  --color-green: #6d8968;
  --color-blue: #b39a8d;
  --color-yellow: #ddb169;
  --color-magenta: #db9aab;
  --color-cyan: #b39a8d;
  --color-white: #c3c6c8;
}

.black {
  color: var(--color-black);
}

.red {
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.blue {
  color: var(--color-blue);
}

.yellow {
  color: var(--color-yellow);
}

.magenta {
  color: var(--color-magenta);
}

.cyan {
  color: var(--color-cyan);
}

.white {
  color: var(--color-white);
}

:root {
  height: 100vh;
  color: var(--color-foreground);
  font-family: "SpaceMono Nerd Font", ui-monospace, monospace;
  font-size: 14pt;
  padding: 12px;
  padding-bottom: 0;
}

body,
#root {
  height: 100%;
  margin: 0; /* Also helpful to remove default spacing */
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.box {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-background-90);
  border-width: 1px;
  border-color: var(--color-background);
  border-radius: 4px;
  position: relative;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.info {
  display: inline-block;
  /* Max width for EACH info text */
  max-width: 360px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.icon {
  display: inline-block;
  margin-right: 1rem;
}

.os-icon {
  color: var(--color-green);
  font-size: 1.2rem;
}

.uptime-icon {
  font-size: 1.2rem;
}

.media-icon {
  color: var(--color-green);
  font-size: 1.2rem;
}

.tiling-direction-icon {
  font-size: 1.2rem;
  background: none;
  border: 0;
  cursor: pointer;
  color: var(--color-red);
  transform: translateY(-0.1rem);
}

.ethernet-icon {
  color: var(--color-green);
  font-size: 1.2rem;
}

.wifi-icon {
  color: var(--color-green);
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

.cpu-icon {
  color: var(--color-green);
  font-size: 1.2rem;
}

.memory-icon {
  color: var(--color-green);
  font-size: 1.2rem;
}

.battery-icon {
  color: var(--color-green);
  font-size: 1.2rem;
}

.charging-icon {
  z-index: 100;
  position: absolute;
  right: 2.3rem;
  bottom: 0.4rem;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
  color: var(--color-yellow);
}

.full-icon {
  color: var(--color-red);
  font-size: 0.7rem;
  z-index: 100;
  position: absolute;
  right: 2.5rem;
  bottom: 0.6rem;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}

.audio-icon {
  color: var(--color-green);
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.weather-icon {
  font-size: 1.2rem;
}

.date-icon {
  color: var(--color-green);
  font-size: 1.2rem;
}

.workspace-button {
  font-size: 1.2rem;
  background: none;
  color: var(--color-foreground-30);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  border: none;

  &.has-child {
    color: var(--color-foreground);
  }

  &.focused,
  &:hover {
    color: var(--color-red);
  }
}

.workspace-icon {
  display: inline-block;
  transform: translateX(-0.2rem);
}
