/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */

:root {
  --color-foreground: #ebdbb2;
  --color-foreground-30: #ebdbb24d;
  --color-background: #282828;
  --color-background-90: #282828e6;
  --color-black: #928374;
  --color-red: #fb4934;
  --color-green: #b8bb26;
  --color-blue: #83a598;
  --color-yellow: #fabd2f;
  --color-magenta: #d3869b;
  --color-cyan: #8ec07c;
  --color-white: #ebdbb2;
}

.black {
  color: var(--color-black);
}

.red {
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.blue {
  color: var(--color-blue);
}

.yellow {
  color: var(--color-yellow);
}

.magenta {
  color: var(--color-magenta);
}

.cyan {
  color: var(--color-cyan);
}

.white {
  color: var(--color-white);
}

:root {
  height: 100vh;
  color: var(--color-foreground);
  font-family: "Pixel Code", "Pixelcraft Nerd Font";
  font-size: 18px;
  padding: 8px;
  padding-bottom: 0;
}

body,
#root {
  height: 100%;
  margin: 0; /* Also helpful to remove default spacing */
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-green);
  background-color: var(--color-background-90);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.box {
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: var(--color-background-90); */
  border-width: 1px;
  border-color: var(--color-background);
  border-radius: 4px;
  position: relative;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.info {
  display: inline-block;
  /* Max width for EACH info text */
  max-width: 380px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.icon {
  display: inline-block;
  margin-right: 0.6rem;
}

.os-icon {
  font-size: 1.2rem;
}

.media-icon {
  font-size: 1.2rem;
}

.binding-mode {
  background-color: var(--color-yellow);
  border-radius: 2px;
  border: none;
  margin-right: 0.5rem;
}

.tiling-direction-icon {
  font-size: 1.2rem;
  background: none;
  border: 0;
  cursor: pointer;
  color: var(--color-yellow);
  transform: translateY(0.1rem);
}

.ethernet-icon {
  color: var(--color-green);
  font-size: 1.4rem;
  transform: translateY(0.1rem);
}

.wifi-icon {
  color: var(--color-green);
  font-size: 1.6rem;
  margin-right: 0.2rem;
  transform: translateY(0.15rem);
}

.cpu-icon {
  color: var(--color-red);
  transform: translate(0px, -1px);
}

.memory-icon {
  color: var(--color-green);
  font-size: 1.5rem;
  transform: translate(6px, 0px);
}

.battery-icon {
  color: var(--color-yellow);
  font-size: 1.2rem;
  transform: translate(6px, 2px);
}

.charging-icon {
  z-index: 100;
  position: absolute;
  right: 2rem;
  bottom: 0.4rem;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
  color: var(--color-blue);
}

.full-icon {
  color: var(--color-green);
  font-size: 0.7rem;
  z-index: 100;
  position: absolute;
  right: 2.1rem;
  bottom: 0.6rem;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}

.audio-icon {
  color: var(--color-cyan);
  font-size: 1.6rem;
  transform: translateY(0.15rem);
}

.weather-icon {
  font-size: 1.2rem;
}

.date-icon {
  color: var(--color-magenta);
  font-size: 1.2rem;
}

.workspace-button {
  font-size: 1.2rem;
  background: none;
  color: var(--color-foreground-30);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  border: none;
  transform: translateY(-0.13rem);

  &.has-child {
    color: var(--color-foreground);
  }

  &.focused,
  &:hover {
    color: var(--color-red);
  }

  &.focused {
    font-size: 1.6rem;
    transform: none;
  }
}

.workspace-icon {
  display: inline-block;
  transform: translateX(-0.2rem);
}
